
/* ------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}
:root{
    --bg-color: #E9E9E5;
    --primary-color: #D4D6C8;
    --secondary-color: #9A9B94;
    --gray-dark-color: #52524E;
    --black-color: #0000;
    }

    header{
        width: 100%;   
        height: 150px;
        background-color: var(--primary-color);
        background-image: url(/PFOLIO/CRYPTO/img-crypto/pexels-karolina-grabowska-5980752.jpg);
        background-position: center;
        background-size: cover;
    }
    nav{
        justify-content: center;
        text-align: center;
        padding: 30px;
        color: var(--bg-color);
    }
    nav h1{
        font-size: 40px;
    }
    nav p{
        letter-spacing: 2px;
        font-size: 15px;
    }
    .tittle{
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: capitalize;
        z-index: 111;
    }
    .container{
        padding:  30px;
    }
    /* --section five  */
    .non-container{
        padding: 30px;
    }
    .main-home{
        display: flex;
        align-items: center;
        padding: 20px 0;
    }
    .row-one{
        width: 50%;
        padding: 30px;
        margin-right: 0;
    }
    .row-one img{
        max-width: 100%;
    }
    .row-one h4{
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 18px;
    }
    .binance{
        background-color: var(--secondary-color);
    }
    .coinbase{
        background-color: rgb(58, 54, 54);
        color: var(--bg-color);
    }
    .bg-class{
        border-radius: 10px;
    }
    .row-two a:hover{
      opacity: 0.9;
    }
    .row-two a{
        cursor: pointer;
    }
    .btn{
        text-decoration: none;
        font-size: 15px;
        color: blue;
    }
    .btn:hover{
        color: red;
    }
    strong{
        font-size: 16px;
    }
    .text-section{
        font-size: 15px;
        letter-spacing: 1px;
        padding: 5px;
    }
    /* -----section links padding--- */
    .section-links{
        padding: 30px 50px;
    }
    /*  */
    .row-two{
        width: 50%;
        padding: 30px;
        margin-right: 0;
    }
    .row-two img{
        max-width: 100%;
    }
/* ------invest section --- */
.invest-section{
    width: 80%;
    padding: 30px 50px;
 
}
.btn-two{
    text-decoration: none;
    color: white;
 background-color: rgb(59, 53, 53);
    padding: 10px 25px;
    letter-spacing: 3px;
    font-size: 14px;
    cursor: pointer;
}
.btn-two:hover{
    background-color: var(--gray-dark-color);
}

 /* ------foooooter --------- */
 footer{
     height: 60px;
     background-color: rgb(22, 21, 21);
 }
 .main-footer{
     padding: 20px;
     text-align: center;
     color: var(--bg-color);
     font-size: 12px;
     letter-spacing: 4px;
 }
 #fg{
    background-color: rgb(58, 54, 54);
    color: var(--bg-color);
}


   /* -----media quaries------ */

    @media (max-width: 876px){
        nav{
            padding: 25px;
        }
        nav h1{
            font-size: 30px;
        }
        .container{
            padding: 20px;
        }
        .non-container{
            padding: 0;
        }
        .main-home{
            flex-direction: column;
            padding: 10px 0;
        }
        .row-one{
            width: 100%;
            padding: 20px;
            text-align: center;
        }
        .row-one img{
            max-width: 80%;
        }
        .row-one h4{
            font-size: 16px;
        }
        /* --- */
        .row-two{
            width: 90%;
            padding: 20px;
        }
        .row-two img{
            max-width: 90%;
        }
        .text-section{
            font-size: 14px;
        
        }
        .btn{
            font-size: 14;
        }

        .row-two .bg-class{
            max-width: 100%;
        }
        /* invest section  */

        .invest-section{
            width: 100%;
            padding: 30px 0;
        }
        .btn-two{
            padding: 8px 22px;
            font-size: 13px;
        }
        .my-photo{
            width: 800px;
            height: 300px;
        }
        #hiden{
            display: none; 
        }
        /* --section  links padding */
        .section-links{
            padding: 30px 15px;
        }
      
     
      
    
    }





